<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ik_www/

RewriteCond %{REQUEST_URI} ^/ik_www/system.*
RewriteRule ^(.*)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]

</IfModule> 